/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.home-header {
  font-weight: bold;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
    object-position: center;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
  position: relative;
  font-family: 'Poppins', 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Poppins', 'Roboto', serif;
  font-weight: 700;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button, input, textarea {
  font-family: 'Poppins', 'Roboto', sans-serif;

}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
        main .container {
                max-width: 100%;
                padding: 0 150px;
        }
}

p.success {
        color: green;
}

p.danger {
        color: red;
}

/* Add styles for the navbar */
.navbar {
  transition: background-color 0.3s ease;
}

.navbar.transparent {
  background-color: transparent; /* Initially transparent */
}

.navbar.scrolled {
  background-color: #333; /* Change color when scrolled */
}

/* Apply fancy font to JCEM */
.brand {
  font-family: 'Cursive', sans-serif; /* You can replace 'Cursive' with your desired fancy font */
  font-size: 2rem;
  font-weight: bold;
  color: white; /* Text color */
}

/* Ensure the navbar is visible on scroll */
.navbar-dark .navbar-nav .nav-link {
  color: white; /* Nav text color */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f0f0f0; /* Hover effect */
}



